*.stackdump
_ReSharper.TraderWizard
*.cache
*.force
*.resources
*.tlog
*.trx
*.suo
bin
obj
/Source/Forms
/Source/frwTela/obj/Release
/Source/prjCandle/obj/Release
/Source/prjConfiguracao/obj/Release
/Source/prjDominio/obj/Release
/Source/prjDTO/obj/Release
/Source/prjServicoNegocio/obj/Release
/Source/prmCotacao/obj/Release
/Source/pWeb/obj/Release
/Source/ServicosDeInterface/obj/Release
/Source/TraderWizard.Enumeracoes/obj/Release
/Source/TraderWizard.Enumeracoes/obj/Release
/Source/TraderWizard.Infra.Services/obj
/Source/TraderWizard.Enumeracoes/obj/Release
/Source/TraderWizard.Enumeracoes/obj/Release
/Source/TraderWizard.Infra.Services/obj
/Source/TraderWizard.Infra.Services/obj
/Source/TraderWizard.Infra.Services/obj/Debug
/Source/TraderWizard.Infra.Services/obj/Release
*.user
/Source/TraderWizard.Infra.Services/obj/Release
/Source/TraderWizard.Infra.Services/obj/Debug
/Source/TraderWizard.Infra.Services/obj
/Source/TraderWizard.Infra.Repositorio/obj
/Source/TraderWizard.Infra.Repositorio/obj/Release
/Source/TraderWizard.Infra.Repositorio/obj/Release
/Source/TraderWizard.Infra.Repositorio/obj/Debug
/Source/TraderWizard.Infra.DataBase/obj/Release
/Source/TraderWizard.Extensoes
/Source/TraderWizard.Extensoes/bin/Release
/Source/TraderWizard.Extensoes/obj/Release
/Source/TraderWizard.Extensoes/obj/Release
/Source/TraderWizard.Extensoes/obj/Release
/Source/TraderWizard.Infra.Repositorio/obj
/Source/TraderWizard.Infra.Services/obj/Debug
/Source/TraderWizard.Infra.Services/obj/Release
/Source/TesteSemAcessarBancoDeDados/obj/Release
/Source/TesteSemAcessarBancoDeDados/obj/Release
/Source/TestesQueAcessamBancoDeDados/bin/Release
/Source/TestesQueAcessamBancoDeDados/obj/Release
/Source/TraderWizard.Infra.Services/obj/Release
/Source/TraderWizard.Infra.Services/obj/Debug
/Source/TesteBase/bin/Release
/Source/TesteBase/obj/Release
/Source/Services/obj/Release
/Source/TesteSemAcessarBancoDeDados/obj/Release
/Source/TestesQueAcessamBancoDeDados/obj/Release
/Source/TestesQueAlterarBancoDeDados/bin/Release
/Source/TestesQueAlterarBancoDeDados/obj/Release/TestesQueAlterarBancoDeDados.pdb
/Source/TestesQueAlterarBancoDeDados/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Source/TestesQueAlterarBancoDeDados/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Source/TestesQueAlterarBancoDeDados/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Source/TestesQueAlterarBancoDeDados/obj/Release/TestesQueAlteramBancoDeDados.csproj.FileListAbsolute.txt
/Source/TestesQueAlterarBancoDeDados/obj/Release/TestesQueAlterarBancoDeDados.dll
/Source/TraderWizard.Enumeracoes/obj/Release
/Source/TraderWizard.Extensoes/obj/Release
/Source/TraderWizard.Infra.Repositorio/obj
/Source/TraderWizard.Infra.Repositorio/obj/Debug
/Source/TraderWizard.Infra.Repositorio/obj/Release
/Source/TesteBase/obj/Release/TesteBase.pdb
/Source/TesteBase/obj/Release/TesteBase.dll
/Source/TesteBase/obj/Release/TesteBase.csproj.FileListAbsolute.txt
